@charset "utf-8";
.search-form-area {
    width: 90%;
    max-width: 1000px;
    margin: 60px auto 0;
}

.search-form {
    border: 1px solid black;
    padding: 40px;
}

td {
    padding: 20px;
}


.search {
    width: 100%;
}

.button-area {
    text-align: center;
    margin-top: 40px;
}

.search-btn {
    background: none;
    border: none;
    outline: none;
    width: 110px;
    font-size: 16px;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    color: #eee;
    border-radius: 8px;
}

.reset-btn {
    margin-top: 18px;
    text-align: center;
    display: block;
    color: black;
}

.delete-btn {
    border: none;
    outline: none;
    display: inline-block;
    width: 60px;
    text-decoration: none;
    font-size: 12px;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    color: #eee;
    border-radius: 4px;
    text-align: center;
}

.delete-btn:hover {
    color: #eee;
}

thead {
    border-bottom: 1px solid black;
}

.table {
    margin-top: 40px;
}

.pagination-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    margin-top: 30px;
}


